  body{
    font-family: Poppins, sans-serif;
    background:#f3f6fb;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0}
    
  .card{
    background:#fff;
    padding:26px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(20,30,60,.08);
    width:360px
}

  h2{text-align:center;
    margin:0 0 14px
}

  input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #d6dbe8;
    outline:none;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}

  button{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:none;
    background:#10b981;
    color:#fff;
    font-weight:600;
    cursor:pointer;
}

  .small{
    font-size:13px;
    color:#556; 
    text-align:center;
    margin-top:10px}
  a{
    color:#3b82f6;
    text-decoration:none
}